<!doctype html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kwbbin博客管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/js/layUI/layui.css">
    <script src="/static/js/layUI/layui.all.js" type="text/javascript"></script>
    <script src="/static/js/JQuery/jquery1.9.1.js" type="text/javascript"></script>


    <link rel="stylesheet" type="text/css" href="/static/editor-md/css/editormd.css"/>
    <script src="/static/editor-md/editormd.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var testEditor;
        $(function () {
            // 绑定的是下面DIV的ID
            testEditor = editormd("my-editormd", {
                width: "100%",
                height: 740,
                // lib 包的位置，一定不能出错。
                path: '/static/editor-md/lib/',
                // theme: "dark",  // 主题  默认白色
                // previewTheme: "dark",
                // editorTheme: "pastel-on-dark",
                markdown: "",
                codeFold: true,
                //syncScrolling : false,
                saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
                searchReplace: true,
                //watch : false,                // 关闭实时预览
                htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji: true,
                taskList: true,
                tocm: true,         // Using [TOCM]
                tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart: true,             // 开启流程图支持，默认关闭
                sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/manage/uploadImage",
                onload: function () {
                    console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();

                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
        });

        // var MSG_UNLOAD = "如果你此时离开设计作业系统，所做操作信息将全部丢失，是否离开?";
        // var UnloadConfirm = {};
        //启用监听浏览器刷新、关闭的方法
        // UnloadConfirm.set = function (confirm_msg) {
        //     window.onbeforeunload = function (event) {
        //         event = event || window.event;
        //         event.returnValue = confirm_msg;
        //     }
        // }
        //关闭监听浏览器刷新、关闭的方法
        // UnloadConfirm.clear = function () {
        //     window.onbeforeunload = function () {};
        // }
        // UnloadConfirm.set(MSG_UNLOAD);



    </script>
</head>

<body class="user-select" style="padding:10px 10px;">
<div class="layui-card">
    <div class="layui-card-header layui-elem-quote layui-quote-nm" >写文章</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post" action="/manage/save" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">请输入标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择你的标签（多选）</label>
            <div class="layui-input-block">
                <span th:each="tag : ${tags}">
                    <input type="checkbox" class="myTags"  th:attr="name=${tag.id},title=${tag.tagName}" >
                </span>
            </div>
        </div>
        <div class="layui-form-item" style="border: 1px solid #999;padding: 10px;">
            <label class="layui-form-label">添加展示图片</label>
            <div class="layui-input-inline">
                <input type="file" id="pop_file" name="file"  placeholder="输入新标签" autocomplete="off" class="layui-input">
                <input type="text" name="localImage" style="display: none;" id="fileText">
            </div>
            <div >
                <img style="width:120px;height:80px;border: 1px solid #999" id="preview" src=""/>
            </div>
            <div>
                <hr>
                <h3 style="color: #999;font-size: 14px;">或者添加本地图片</h3>
                <div id="localImage"  th:each="image: ${localImages}">
                    <img th:onclick="checkImgFun([[${image.id}]],this)" th:attr="src=${localInfoPath}+${image.path}+'/'+${image.fileName}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">栏目</label>
            <div class="layui-input-block">
                <select name="category" lay-verify="required" >
                    <option value=""></option>
                    <div th:each="at : ${articleType}">
                        <option th:attr="value=${at.id}"  th:text="${at.name}">北京</option>

                    </div>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章类型</label>
            <div class="layui-input-block">
                <input type="radio" name="original" value="0" title="原创" checked>
                <input type="radio" name="original" value="1" title="转载">
                <input type="radio" name="original" value="2" title="翻译">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公开度</label>
            <div class="layui-input-block">
                <input type="radio" name="visibility" value="0" title="任何人可见" checked>
                <input type="radio" name="visibility" value="1" title="仅自己可见">
            </div>
        </div>
            <input name="state" id="state" type="text" style="display: none;" value="0"/>
        <div id="my-editormd">
            <!-- 书写与实时显示的textarea -->
            <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" lay-verify="content" style="display:none;"></textarea>
            <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。  -->
            <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="saveDraft">保存草稿</button>
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="submit">发布</button>
            </div>
        </div>
    </form>
    </div>
</div>

<style>
    #localImage{
        width:150px;
        height: 100px;
        display: inline-block;
        margin-right: 5px;
    }

    #localImage .active{
        /*box-shadow: 3px 3px 3px red;*/
        border: 3px solid red;
    }
    #localImage img{
        border: 1px solid #999;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
</style>
<script>

    function checkImgFun(id,This){
        $("#localImage img").removeClass("active");
        console.log($(This).attr('src'));
        if($(This).attr("name")=='true'){
            $(This).removeClass("active")
            $(This).attr("name",'flase');
            $("#fileText")[0].value = "";
        }else{
            $(This).addClass("active");
            $(This).attr("name",'true');
            $("#fileText")[0].value = $(This).attr('src');
        }

        //
        // alert($("#fileText")[0].value );
    }
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        form.render();

        form.verify({
            content: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value==""||value==null){
                    return '内容不能为空';
                }
            }
        });

        //监听提交
        form.on('submit(saveDraft)', function(data){
            $("#state")[0].value=-1;
            // console.log(JSON.stringify(data.field))
            // return false;
        });

        //监听提交
        form.on('submit(submit)', function(data){
            //获取表单区域所有值
            // layer.msg(JSON.stringify(data.field));
            var content = data.field['my-editormd-markdown-doc'];
            if(content==""){
                return false;
                alert("请填写文章内容")
            }

            var mytags = $(".myTags");
            var b =0;
            for(var i = 0;i<mytags.length;i++){
                if(mytags[i].checked==true){
                    b++;
                }
            }
            if(b==0){
                alert("请选择一个以上的标签");
                return false;
            }


            window.parent.timeOut("成功发表！");
        });

    });

    $(function () {
        $("#pop_file").on('change', function () {
            //获取文件对象，files是文件选取控件的属性，存储的是文件选取控件选取的文件对象，类型是一个数组
            // console.log(this.files[0])
            // console.log(file.files[0])
            const windowURL = window.URL || window.webkitURL;
            //这个函数（window的方法）创建出路径，浏览器能通过原生接口访问本地文件的路径，其中window可以省略，参数为需要创建路径的dom元素。
            var imgUrl = windowURL.createObjectURL(this.files[0]);
            // console.log(imgUrl)
            // document.querySelector('#img').src = imgUrl ;
            $("#preview").attr('src', imgUrl).css('display', 'block')
        })
    })
</script>
</body>
</html>
