<!doctype html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kwbbin博客管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/js/layUI/layui.css">
    <script src="/static/js/layUI/layui.all.js" type="text/javascript"></script>
    <script src="/static/js/JQuery/jquery-1.11.1.js" type="text/javascript"></script>


    <link rel="stylesheet" type="text/css" href="/static/editor-md/css/editormd.css"/>
    <script src="/static/editor-md/editormd.js" type="text/javascript" charset="utf-8"></script>


</head>

<body class="user-select" style="padding:10px 10px;">
<div class="layui-card">
    <div class="layui-card-header layui-elem-quote layui-quote-nm" >猜你喜欢管理</div>
    <div class="layui-card-body">
        <h3 style="padding-bottom: 20px;">添加文章到列表：</h3>
        <div class="layui-form-item">
            <label class="layui-form-label">文章id</label>
            <div class="layui-input-inline">
                <input type="text" name="articleId"  id="articleId" placeholder="请输入添加文章的id" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn" th:onclick="addFun()" >添加</button>
<!--            <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
        </div>
        <hr>
        <table class="layui-table">
            <colgroup>
                <col >
                <col >
                <col width="300">
                <!--                <col>-->
                <col>
                <col>
                <col>
                <col>
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>文章id</th>
                <th>标题</th>
                <th>内容</th>
                <!--                <th>标签</th>-->
                <th>类型</th>
                <th>分类</th>
                <th>公开度</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody th:each="art : ${articleList}" >
            <tr>
                <td th:text="${art.id}"></td>
                <td th:text="${art.title}"></td>
                <td th:text="${art.content}"></td>
                <td th:text="${art.articleOriginStr}" ></td>
                <td th:text="${art.articleTypeStr}" ></td>
                <td th:text="${art.articleWayStr}"></td>
                <td th:text="${ #dates.format(art.postedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <button class="layui-btn" th:onclick="deleteFun([[${art.id}]])" >从该列表移除</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    function addFun(){
        var id = $("#articleId")[0].value;

        var parm = [
            {name:'id',value:id}
        ]

        createForm("/manage/addGuessLike",parm);
        window.parent.timeOut("添加成功！");
    }

    function deleteFun(id){
        var parm = [
            {name:'id',value:id}
        ]

        createForm("/manage/cancelGuessLike",parm);
        window.parent.timeOut("移除成功！");
    }


    function createForm(url,array) {
        //参数示例
        // [
        //     {name:sfsf,value:''},
        //     {name:sfsf,value:''}
        // ]
        var form = $('<form></form>');
        form.attr('action', url);
        form.attr("method",'post');
        form.attr("style",'display:none');
        var l = array.length;
        if(l>0){
            for(var i = 0;i<l;i++){
                form.append($('<input type="text" name="'+array[i].name+'" value="'+array[i].value+'" />'))
            }
        }
        $("body").append(form);
        form.submit();
    }

</script>

</body>
</html>
