<!doctype html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - kwbbin博客管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/manage/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/manage/css/login.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="/static/js/JQuery/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="user-select">
<div class="container">
    <div class="siteIcon"><img src="/static/manage/images/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用kwbbin博客管理系统" draggable="false" /></div>
    <form action="/manage/login" method="post" autocomplete="off" class="form-signin">
        <h2 class="form-signin-heading">管理员登录</h2>
        <label for="userName" class="sr-only">用户名</label>
        <input type="text" id="userName" name="userName" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
        <label for="userPwd" class="sr-only">密码</label>
        <input type="password" id="userPwd" name="userPwd" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
        <a href="#"><button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button></a>
    </form>
    <div class="footer">
        <p><a href="/" data-toggle="tooltip" data-placement="left" title="不知道自己在哪?">回到kwbbin博客 →</a></p>
    </div>
</div>
<script>
    // $('[data-toggle="tooltip"]').tooltip();
    // window.oncontextmenu = function(){
    //     //return false;
    // };
    $('.siteIcon img').click(function(){
        window.location.reload();
    });
    $('#signinSubmit').click(function(){
        if($('#userName').val() === ''){
            $(this).text('用户名不能为空');
        }else if($('#userPwd').val() === ''){
            $(this).text('密码不能为空');
        }else{
            $(this).text('请稍后...');
        }
    });
</script>
</body>
</html>
