<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/editor-md/css/editormd.css"/>
    <script src="static/js/JQuery/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/editor-md/editormd.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var testEditor;
        $(function () {
            // 绑定的是下面DIV的ID
            testEditor = editormd("my-editormd", {
                width: "90%",
                height: 740,
                // lib 包的位置，一定不能出错。
                path: 'static/editor-md/lib/',
                // theme: "dark",  // 主题  默认白色
                // previewTheme: "dark",
                // editorTheme: "pastel-on-dark",
                markdown: "",
                codeFold: true,
                //syncScrolling : false,
                saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
                searchReplace: true,
                //watch : false,                // 关闭实时预览
                htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji: true,
                taskList: true,
                tocm: true,         // Using [TOCM]
                tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart: true,             // 开启流程图支持，默认关闭
                sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "./php/upload.php",
                onload: function () {
                    console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();

                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
        });
    </script>
</head>
<body>
 <h2>管理页面</h2>
 <!-- MarkDown的id标志 -->
 <div id="my-editormd">
     <!-- 书写与实时显示的textarea -->
     <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
     <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。  -->
     <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
 </div>
 <!-- editormd end -->
 <button id="submit">提交</button>
 <script type="text/javascript">
     $(document).ready(function () {
         $("#submit").click(function () {
             var str = testEditor.getMarkdown();
             var data = {
                 data: str
             }
             $.ajax({
                 url: "manage/save",
                 type: "POST",
                 dataType: "json",
                 data: data,
                 success: function (data) {
                     alert("success");
                 },
                 error: function (data) {

                 }
             })
         })
     })
 </script>
</body>
</html>