<!doctype html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kwbbin博客管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/js/layUI/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/js/layUI/layui.all.js" type="text/javascript"></script>
    <script src="/static/js/JQuery/jquery-1.11.1.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>


</head>

<body class="user-select" style="padding:10px 10px;">
<div class="layui-card">
    <div class="layui-card-header layui-elem-quote layui-quote-nm" >我的草稿</div>
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
                <col >
                <col >
                <col width="300">
<!--                <col>-->
                <col>
                <col>
                <col>
                <col>
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>文章id</th>
                <th>标题</th>
                <th>内容</th>
<!--                <th>标签</th>-->
                <th>类型</th>
                <th>分类</th>
                <th>公开度</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody th:each="art : ${articleList.list}" >
            <tr>
                <td th:text="${art.id}"></td>
                <td th:text="${art.title}"></td>
                <td th:text="${art.content}"></td>
                <td th:text="${art.articleOriginStr}" ></td>
                <td th:text="${art.articleTypeStr}" ></td>
                <td th:text="${art.articleWayStr}"></td>
                <td th:text="${ #dates.format(art.postedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <input name="id" id="state" type="text" style="display: none;" th:attr="value=${art.id}"/>
                    <button class="layui-btn" th:onclick="submitFun([[${art.id}]],'0')" >编辑</button>
                    <button class="layui-btn layui-btn-primary"  th:onclick="submitFun([[${art.id}]],'-1')"  >删除</button>
                </td>
            </tr>

            </tbody>
        </table>

<!--        分页-->
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:class="${articleList.hasPreviousPage}? '' : 'disabled notClick'">
                        <a  th:href="'/manage/getAllArticleVoPage?pageNum='+${articleList.prePage}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="(${articleList.pageNum}- 3) ge  ${articleList.navigateFirstPage}" >
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+(${articleList.pageNum} -3)" th:text="${articleList.pageNum} -3" href="#"></a>
                    </li>
                    <li th:if="(${articleList.pageNum}- 2) ge ${articleList.navigateFirstPage}" >
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+(${articleList.pageNum} -2)" th:text="${articleList.pageNum} -2" href="#"></a>
                    </li>
                    <li th:if="(${articleList.pageNum}- 1) ge ${articleList.navigateFirstPage}" >
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+(${articleList.pageNum} -1)" th:text="${articleList.pageNum} -1" href="#"></a>
                    </li>
                    <li class="active"><a href="#" th:text="${articleList.pageNum}"></a></li>
                    <li th:if="(${articleList.pageNum}+ 1) le ${articleList.navigateLastPage}" >
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+(${articleList.pageNum} +1)" th:text="${articleList.pageNum} +1" href="#"></a>
                    </li>
                    <li th:if="(${articleList.pageNum}+ 2) le ${articleList.navigateLastPage}" >
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+(${articleList.pageNum} +2)" th:text="${articleList.pageNum} +2" href="#"></a>
                    </li>
                    <li th:if="(${articleList.pageNum}+ 3) le ${articleList.navigateLastPage}" >
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+(${articleList.pageNum} +3)" th:text="${articleList.pageNum} +3" href="#"></a>
                    </li>

                    <li  th:class="${articleList.hasNextPage}? '' : 'disabled notClick'">
                        <a th:href="'/manage/getAllArticleVoPage?pageNum='+${articleList.nextPage}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<style>

</style>
<script>


    $(".notClick").bind("click",function(){
            return false;
        })

    function submitFun(id,str){
        if(str=='-1'){
            if(confirm('确定要删除吗？')){

            }else{
                return false;
            }
        }
        var form = $('<form></form>');
        form.attr('action', "/manage/getArticleById");
        form.attr("method",'post');
        form.attr("style",'display:none');
        var input= $('<input type="text" name="id" value="'+id+'" />');
        var input1;
        if(str=='0'){
            input1=$('<input type="text" name="deleteState" value="0" />');
        }else{
            input1=$('<input type="text" name="deleteState" value="-1" />');
            window.parent.timeOut("删除成功！");
        }
        form.append(input);
        form.append(input1);
        $("body").append(form);
        form.submit();
    }



</script>
</body>
</html>
