<!doctype html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kwbbin博客管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/js/layUI/layui.css">
    <script src="/static/js/layUI/layui.all.js" type="text/javascript"></script>
    <script src="/static/js/JQuery/jquery-1.11.1.js" type="text/javascript"></script>



</head>

<body class="user-select" style="padding:10px 10px;">
<div class="layui-card">
    <div class="layui-card-header layui-elem-quote layui-quote-nm" >写文章</div>
    <div class="layui-card-body">

    </div>
</div>

<script>
    
</script>

</body>
</html>
