<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kwbbin.dao.MyMessageMapper" >
  <resultMap id="BaseResultMap" type="com.kwbbin.bean.MyMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="good" property="good" jdbcType="INTEGER" />
    <result column="responseTime" property="responsetime" jdbcType="TIMESTAMP" />
    <result column="answerToMessage" property="answertomessage" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="articleId" property="articleid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, content, good, responseTime, answerToMessage, name, articleId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kwbbin.bean.MyMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from my_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from my_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from my_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kwbbin.bean.MyMessageExample" >
    delete from my_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kwbbin.bean.MyMessage" useGeneratedKeys="true" keyProperty="id" >
    insert into my_message (content, good, responseTime, 
      answerToMessage, name, articleId
      )
    values (#{content,jdbcType=VARCHAR}, #{good,jdbcType=INTEGER}, #{responsetime,jdbcType=TIMESTAMP}, 
      #{answertomessage,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{articleid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kwbbin.bean.MyMessage" useGeneratedKeys="true" keyProperty="id" >
    insert into my_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
      <if test="good != null" >
        good,
      </if>
      <if test="responsetime != null" >
        responseTime,
      </if>
      <if test="answertomessage != null" >
        answerToMessage,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="articleid != null" >
        articleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="good != null" >
        #{good,jdbcType=INTEGER},
      </if>
      <if test="responsetime != null" >
        #{responsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="answertomessage != null" >
        #{answertomessage,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="articleid != null" >
        #{articleid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kwbbin.bean.MyMessageExample" resultType="java.lang.Integer" >
    select count(*) from my_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update my_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.good != null" >
        good = #{record.good,jdbcType=INTEGER},
      </if>
      <if test="record.responsetime != null" >
        responseTime = #{record.responsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.answertomessage != null" >
        answerToMessage = #{record.answertomessage,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.articleid != null" >
        articleId = #{record.articleid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update my_message
    set id = #{record.id,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      good = #{record.good,jdbcType=INTEGER},
      responseTime = #{record.responsetime,jdbcType=TIMESTAMP},
      answerToMessage = #{record.answertomessage,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      articleId = #{record.articleid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kwbbin.bean.MyMessage" >
    update my_message
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="good != null" >
        good = #{good,jdbcType=INTEGER},
      </if>
      <if test="responsetime != null" >
        responseTime = #{responsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="answertomessage != null" >
        answerToMessage = #{answertomessage,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="articleid != null" >
        articleId = #{articleid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kwbbin.bean.MyMessage" >
    update my_message
    set content = #{content,jdbcType=VARCHAR},
      good = #{good,jdbcType=INTEGER},
      responseTime = #{responsetime,jdbcType=TIMESTAMP},
      answerToMessage = #{answertomessage,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      articleId = #{articleid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>