.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}

img.ContentImg{
    width:100%;
    height: 200px;
}

p.content-font-size{
    font-size: 16px;
}

.clearfix:before,.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

div.content-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

nav.footer-margin{
    margin: 0px;
}
p.footer-center{
    text-align: center;
    line-height: 30px;
}
















p.pContent{
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.hTitle{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-bottom: 10px;
    font-size: medium;
}
.good{
    font-size: 15px;
    position: relative;
    top: -1px;
    padding-left: 3px;
}

/*侧边栏ul*/
.my-ul {
    line-height: 30px;
    padding-left: 15px;
}
.my-ul li{
    list-style-type : square;
    font-size: 8px;
    padding-left: 10px;
}

.my-ul li a{
    color: #00afff;
    font-size: 13px;
}
.right-label li a{
    color: #fff;
}
.right-label li{
    list-style-type: none;
    display: inline-block;
    padding: 7px 10px;
    background: rgba(0,79,135,0.7);
    border-radius: 4px;
    transition: All 1s ease-in-out;
    -webkit-transition: All 1s ease-in-out;
    -moz-transition: All 1s ease-in-out;
    -o-transition: All 1s ease-in-out;
}
.right-label li:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);

}
.right-label{
    padding: 10px 10px;
}
/*侧边栏ul*/

.footA{
    cursor: pointer;
    padding-right: 20px;
    color: #999;
}

.font-small{
    font-size: 14px;
    font-weight: lighter
}



.content-box{
    margin-top: 250px;
    /*-moz-box-shadow:2px 2px 5px #ABABAB;*/
    /*-webkit-box-shadow:2px 2px 5px #ABABAB;*/
    /*box-shadow:2px 2px 5px #ABABAB;*/
    z-index: -99;
    /*background:#000;*/
    background:rgba(255,255,255,0) !important;
}

.section-right{
    background:rgba(255,255,255,0) !important;
}
.section-right .main-content{
    background: #fff;
    padding:20px 10px;
}
.content-box-secon{
    /*background:#000;*/
    background:rgba(255,255,255,0) !important;

}

body{
    background: url("/static/img/sky.jpg") fixed;
}
.jumbotron{
    background: #fff;
}

.show{
    height: 300px;
    width: 100%;

    position: absolute;
    top:0px;
    z-index: -9999;
    /*background: url("static/img/sky.jpg");*/
    background:rgba(255,255,255,0) !important;
}
.show p{
    text-align: center;
    line-height: 350px;
    font-size: 20px;
}

.row .thumbnail{
    -moz-box-shadow:2px 2px 5px #ABABAB;
    -webkit-box-shadow:2px 2px 5px #ABABAB;
    box-shadow:2px 2px 5px #ABABAB;
}

.title{
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    /*color: #484848;*/
    color: #fff;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
}

.title:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    content: "";
    background: #000;
    left: 0;
    bottom: 0;
    /*-moz-transition: all .5s ease;*/
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.title:hover::after {
    width: 80px;
}

div.right-title{
    font-size: 16px;
    color:#484848 !important;
}

.section-right{
    padding-top:48px;
}

.section-right .main-content{
    border: 1px solid #eee;
    border-radius: 4px;
    -moz-box-shadow:2px 2px 5px #ABABAB;
    -webkit-box-shadow:2px 2px 5px #ABABAB;
    box-shadow:2px 2px 5px #ABABAB;
}

.my-media{
    width:100%;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 20px;
}

.my-media-img{
    float: left;
    display: inline-block;
    width:200px;
    height: 160px;
}

.my-media-img img{
    width:200px;
    height: 150px;
    margin-top: 5px;
    margin-left:5px;
    border-radius: 4px ;
    margin-right: 20px;

}

.my-media-right{
    float: left;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    height: 160px;
    width:calc(100% - 224px);
}

.my-media-head{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
}

.my-media-head .media-head-label{
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #999;
}
.my-media-head .media-head-label i{
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    color: #00afff;
}
.my-media-right p{
    display: block;
    width:100%;
    text-align: right !important;
    position: absolute;
    bottom: 0px;
}

/*随机推荐*/
.tuijian-box{
    background: #fff;
    padding: 15px 10px;
    border-radius: 4px;
}
.topnews {
    display: block;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    max-height: 110px;
}


.topnews img {
    opacity: .7;
}

.imgscale img {
    width: 100%;
    border: 0;
    display: block;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all 0.5s;
}
.topnews span {
    bottom: 0;
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
}

.tuijian ul {
    overflow: hidden;
    padding-top: 10px;
}

.tuijian ul li {
    list-style: none;
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
}
.tuijian ul li a {
    /*text-decoration: none;*/
    color: #333;
}

.tuijian li i {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    float: left;
}
.tuijian li i img {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all 0.5s;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
.tuijian li p {
    margin-top: 20px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
}
/*随机推荐*/


/*友情链接*/
.main-content .frendLink{

}

.main-content .frendLink li{
    display: inline-block;
    width: 48%;
}


.main-content .frendLink li a{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #4c83ab;
    line-height: 25px;
}
/*友情链接*/