.jumbotron{
    padding-top: 0;
    background: rgba(255,255,255,0.0) !important;
}
.content-box{
    background: rgba(255,255,255,0.0) !important;
    padding-top: 0px !important;
}

.content-box > .jumbotron{
    padding-top: 15px !important;
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .content-box{
        padding: 0 60px;
    }

}

#main-left .avatar img {
    position: relative;
    top:-7px;
    width: 100%;
    border-radius: 50%;
}

.left-box{
    background: #fff;
}

.left-head{
    height:140px;
    border-radius: 4px;
    padding:20px 36px;

}
.left-head p{
    color: #666;
}
.left-head h1 {
    font-size: 22px !important;
    margin-bottom: 15px;
}

.left-content{
    margin-top: 20px;
    padding: 20px;
}
.title{
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    /*color: #484848;*/
    color: #484848;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
}

.title:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    content: "";
    background: #000;
    left: 0;
    bottom: 0;
    /*-moz-transition: all .5s ease;*/
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.title:hover::after {
    width: 80px;
}




.my-media{
    width:100%;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 20px;
}
.my-media a{
    color:#333;
}
.my-media-img{
    float: left;
    display: inline-block;
    width:200px;
    height: 160px;
}

.my-media-img img{
    width:200px;
    height: 150px;
    margin-top: 5px;
    margin-left:5px;
    border-radius: 4px ;
    margin-right: 20px;

}

.my-media-right{
    float: left;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    height: 160px;
    width:calc(100% - 224px);
}

.my-media-head{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
}

.my-media-head .media-head-label{
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #999;
}
#media-content{
    padding: 20px 10px;
}
.my-media-head .media-head-label i{
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    color: #00afff;
}
.my-media-right p{
    display: block;
    width:100%;
    text-align: right !important;
    position: absolute;
    color: #666;
    bottom: 0px;
}



/*侧边栏*/
.section-right .main-content{
    background: #fff;
    padding:20px 10px;
    border-radius: 4px;
}
.my-ul {
    line-height: 30px;
    padding-left: 15px;
}
.my-ul li{
    list-style-type : square;
    font-size: 8px;
    padding-left: 10px;
}

.my-ul li a{
    color: #00afff;
    font-size: 13px;
}
/*侧边栏*/



/*随机推荐*/
.tuijian-box{
    background: #fff;
    padding: 15px 10px;
    border-radius: 4px;
}
.topnews {
    display: block;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    max-height: 110px;
}


.topnews img {
    opacity: .7;
}

.imgscale img {
    width: 100%;
    border: 0;
    display: block;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all 0.5s;
}
.topnews span {
    bottom: 0;
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
}

.tuijian ul {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 0px;
}

.tuijian ul li {
    list-style: none;
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
}
.tuijian ul li a {
    text-decoration: none;
    color: #333;
}

.tuijian li i {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    float: left;
}
.tuijian li i img {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all 0.5s;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
.tuijian li p {
    margin-top: 18px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
}
/*随机推荐*/




/*标签云*/
.right-label li a{
    color: #fff;
}
.right-label li{
    list-style-type: none;
    display: inline-block;
    padding: 7px 10px;
    background: rgba(0,79,135,0.7);
    border-radius: 4px;
    transition: All 1s ease-in-out;
    -webkit-transition: All 1s ease-in-out;
    -moz-transition: All 1s ease-in-out;
    -o-transition: All 1s ease-in-out;
}
.right-label li:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);

}
.right-label{
    padding: 10px 10px;
}
/*标签云*/