<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/js/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/JQuery/jquery-1.11.1.js"></script>
    <script src="/static/js/common.js"></script>
    <link href="static/js/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default "  th:fragment="nav">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logoBox">
                <i class="logo">KWBBIN</i>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav" >
                <li ><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="/message">留言</a></li>
                <li><a href="/sort?id=2">生活笔记</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文章 <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="tyListBox">
<!--                        <li><a href="#">生活笔记</a></li>-->
                    </ul>
                </li>
            </ul>
            <form class="navbar-left navbar-form " style="float: right !important;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>
<!--            <ul class="nav navbar-nav navbar-right"  style="float: right;">-->

<!--                <li class="dropdown" th:if="${session.user==null}">-->
<!--                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录 <span class="caret"></span></a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a data-toggle="modal" data-target="#myModal">登录</a></li>-->
<!--                        <li><a href="github/login">Github登录</a></li>-->
<!--                        <li><a href="#">注册</a></li>-->
<!--                    </ul>-->
<!--                    &lt;!&ndash; 弹出登录框（Modal） &ndash;&gt;-->
<!--                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
<!--                                        &times;-->
<!--                                    </button>-->
<!--                                    <h4 class="modal-title" id="myModalLabel">-->
<!--                                        用户登录-->
<!--                                    </h4>-->
<!--                                </div>-->
<!--                                <form class="bs-example bs-example-form" role="form" action="/login">-->
<!--                                    <div class="modal-body">-->
<!--                                        <div class="input-group input-group-lg">-->
<!--                                            <span class="input-group-addon">用户名</span>-->
<!--                                            <input type="text" id="userName" name="userName" class="form-control" placeholder="">-->
<!--                                        </div>-->
<!--                                        <br>-->
<!--                                        <div class="input-group input-group-lg">-->
<!--                                            <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;码</span>-->
<!--                                            <input type="text" class="form-control" id="password" name="password" placeholder="">-->
<!--                                        </div>-->
<!--                                        <input type="submit" name="submit_buttom" id="submit_buttom" style="display: none;">-->
<!--                                    </div>-->
<!--                                    <div class="modal-footer">-->
<!--                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭-->
<!--                                        </button>-->
<!--                                        <input type="submit" value="登录" class="btn btn-primary"/>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                    弹出登录框结束&ndash;&gt;-->

<!--                </li>-->
<!--                <li class="dropdown" th:if="${session.user!=null}">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${session.user.nickname}" ></span> <span class="caret"></span></a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="#">关于我</a></li>-->
<!--                        <li><a href="/LoginOut">注销</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <span id="testSpan"></span>
</nav>

</body>
</html>