<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kwbbin.manage.dao.AdminMapper" >
  <sql id="Base_Column_List" >
    id, name, password, phone, nick_name
  </sql>

  <select id="selectByNameAndPassword" parameterType="admin" resultType="admin">
    select
    <include refid="Base_Column_List"></include>
    from admin
    where name=#{nickName} and password=#{password}
  </select>

</mapper>